<!--<div class="page-content p-5" id="content">
	 Toggle button
	<button id="sidebarCollapse" type="button" class="btn btn-light fondoNav text-white rounded-pill shadow-sm px-3 mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
    </button>

    <div class="row text-white fondoNav" style="padding: 2em;">-->
<!-- <form class="row g-3" [formGroup]="formFiltros" (ngSubmit)="getUsuarios()">
        </form>
    </div>
    <table class="table table-hoever" id="tableUsuarios">
        <thead>
            <tr>
                <td>Usuario</td>
                <td>Nombre</td>
                <td>Rol</td>
                <td>Ver</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios | slice: (page-1) * pageSize : page * pageSize">
                <td>{{usuario.Username}}</td>
                <td>{{usuario.Nombre}}</td>
                 <td>{{usuario.Role.Role}}</td>
                 <td>
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
                          </svg>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>


</div>
-->

<usuario-list></usuario-list>

